# Dates and times

In [1]:
import pandas as pd
import seaborn as sns
from vega_datasets import local_data
import matplotlib.pyplot as plt

seattle = local_data.seattle_weather()
seattle.head()

        date  precipitation  temp_max  temp_min  wind  weather
0 2012-01-01            0.0      12.8       5.0   4.7  drizzle
1 2012-01-02           10.9      10.6       2.8   4.5     rain
2 2012-01-03            0.8      11.7       7.2   2.3     rain
3 2012-01-04           20.3      12.2       5.6   4.7     rain
4 2012-01-05            1.3       8.9       2.8   6.1     rain

## `dt` accessor

In [2]:
# See common ones at https://www.mkanalysis.com/tutorial/23#Here-are-some-of-the-more-common-dt-accessors
# See all in documentation (https://pandas.pydata.org/docs/reference/api/pandas.Series.dt.dayofyear.html)

## Plotting time series data

# Resampling

## Upsampling increases the sampling rate
### From every day to every hour...

## Downsampling descreases the sampling rate
### From week to every month...

In [3]:
# Get the first of the month
# Get all the "Offset aliases" here: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#offset-aliases

# Window functions